.main_list {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  padding: var(--padding-main);
}
.loading_container {
  display: flex;
  align-items: center;
  justify-content: center;
}
